<nav class="navbar navbar-expand-md">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: black; background-color: transparent;" href="/comprar">Comprar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black; background-color: transparent;" href="/vender">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black; background-color: transparent;" href="/anuncios">Meus Anúncios</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" style="color: black; background-color: transparent;font-size: 30px; font-family: Harabara Mais, Geneva, sans-serif;" href="/home">Sebo Academy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color: black; background-color: transparent;" href="/exit">Sair</a>
            </li>
        </ul>
    </div>
</nav>