<nav class="navbar">
  <a class="navbar-brand" href="/admin" style="color: white; background-color: transparent;font-size: 14px;">Painel do administrador</a>
  <form class="form-inline">
    <div style="padding-left: 10px;">
      <a class="btn btn-danger3" href="/exit" role="button">
        Comprar
      </a>
      <a class="btn btn-danger3" href="/vender" role="button">
        Vender
      </a>
      <a class="btn btn-danger-exit" style="color:white;" href="/exit" role="button">
        Sair
      </a>
    </div>
  </form>
</nav>


<p id="notice"><%= notice %></p>

<h1 style="color:white;">Em construção</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
  </tbody>
</table>

<br>

