<%= render "navbar/navbar" %>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs-12">
			<h4 class="text-center" style="padding: 20px">
				Meu pau que te levante
			</h4>
			<div class="row justify-content-center" style="margin-top: 150px">
				<div class="col-xs-12">
				    <%= link_to "Vender/Emprestar", signup_path, class:"btn btn-md btn-outline-success active" %>
                </div>  
			</div>
            <br>
            <div class="row justify-content-center">
                <div class="col-xs-12">
					<%= link_to "Comprar/Solicitar empréstimo", signup_path, class:"btn btn-md btn-outline-success active" %>
                </div>
            </div>
		</div>
	</div>
</div>