/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require rails_bootstrap_forms
 //= require_tree .
 //= require_self
 */

 @import 'rails_bootstrap_forms';
 @import 'bootstrap';

 body { 
    background-image: image-url('bg2.jpg'); 
    background-size: cover;
  }
  .panel{
    border-radius: 10px; 
  }
  .panel-body{
    background-color: rgba(0,0,0,0.2); 
    padding: 10px;
    border-radius: 10px; 
    }
  .panel-default{
    background-color: rgba(255, 255, 255, 0.116);
    border-radius: 10px; 
    }

  .panel-default > .panel-heading{
    background-color: rgba(255, 255, 255, 0.096); 
    padding: 10px;
    color: white;
    width: 100% !important;
    border-radius: 10px; 
    }

  .navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navbar-brand {
      font-size: 10px;
  }
  .white-text{
    color: white;
  }
  @font-face {
    font-family: 'Harabara Mais';
    src: ('/assets/fonts/harabara_ltf.otf');
    font-weight: normal;
    font-style: normal;
 }
 
 .btn-danger2 {
  background-color: rgba(255, 118, 118, 0.411) !important;
  color: white !important;
  border: 1px solid #fc0000 !important;
 }
 .btn-danger3 {
  background-color: rgba(255, 255, 255, 0.849) !important;
  color: rgb(255, 87, 87) !important;
  border: 1px solid #fc0000 !important;
 }

 .btn-danger-exit {
  background-color: rgba(29, 15, 15, 0.411) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #fc0000 !important;
 }