/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require rails_bootstrap_forms
 //= require_tree .
 //= require_self
 */

 @import 'rails_bootstrap_forms';
 @import 'bootstrap';

 body { 
    background-image: image-url('bg2.jpg'); 
    background-size: cover;
  }
  .panel{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .panel2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .panel-body{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
  .panel-default{
    background-color: rgba(255, 255, 255, 0.116);
    }

  .panel-default > .panel-heading{
    background-color: rgba(0,0,0,0.2); 
    padding: 10px;
    color: white;
    width: 100% !important;
    }

  .navbar {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .navbar-brand {
      font-size: 10px;
  }
  .white-text{
    color: white;
  }
  @font-face {
    font-family: 'Harabara Mais';
    src: ('/assets/fonts/harabara_ltf.otf');
    font-weight: normal;
    font-style: normal;
 }
 
 .btn-danger2 {
  background: #fc0000;
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.767), rgba(5, 0, 0, 0.158)) !important;
  color: white !important;
  border: 1px solid #fc0000 !important;
 }
 
 .btn-danger2:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: inset 0px -10px 45px -10px rgba(0,0,0,0.57) !important;
    -moz-box-shadow: inset 0px 5px 40px -10px rgba(0,0,0,0.57) !important;
    transition: all 0.4s ease 0s;
 }

 .btn-danger-home {
  background: #fc0000;
  background-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0.767), rgba(5, 0, 0, 0.158)) !important;
  color: white !important;
  border: 1px solid #c90505 !important;
  text-align: center;
  font-size: 30px;
 }
 
 .btn-danger-home:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) !important;
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57) !important;
    transition: all 0.4s ease 0s;
 }

 .btn-danger3 {
  background-color: rgba(255, 255, 255, 0.952) !important;
  color: rgb(255, 59, 59) !important;
  border: 1px solid #fc0000 !important;
 }

 .btn-danger3:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255,1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

 .btn-danger-exit {
  background-color: rgba(29, 15, 15, 0.411) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px solid #fc0000 !important;
 }
 .btn-danger-exit:hover{
  background: rgba(255, 0, 0, 0.747) !important;
  text-shadow: 0px 0px 6px rgb(0, 0, 0);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}