/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //= require rails_bootstrap_forms
 //= require_tree .
 //= require_self
 */

 @import 'rails_bootstrap_forms';
 @import 'bootstrap';

 body { 
    background-image: image-url('cover-bubble-dark.jpg'); 
    background-size: cover;
  }
  .panel{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .panel2{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .panel-body{
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    }
  .panel-default{
    background-color: rgba(1, 102, 43, 0.2);
    }

  .panel-default > .panel-heading{
    background-color: rgba(109, 109, 109, 0.185); 
    padding: 10px;
    color: black;
    width: 100% !important;
    }

  .navbar {
    padding: 0;
    background-color: rgba(1, 102, 43, 0.2);
  }
  .navbar-brand {
      font-size: 10px;
  }
  .white-text{
    color: white;
  }
  @font-face {
    font-family: 'Harabara Mais';
    src: ('/assets/fonts/harabara_ltf.otf');
    font-weight: normal;
    font-style: normal;
 }

 .btn-danger-home {
  background: #018d47;
  background-image: -webkit-linear-gradient(top, rgb(7, 197, 118), rgba(19, 46, 0, 0.425)) !important;
  color: white !important;
  border: 1px solid #088833 !important;
  text-align: center;
  font-size: 30px;
 }
 
 .btn-danger-home:hover{
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.856) !important;
    -moz-box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.856)  !important;
    transition: all 0.4s ease 0s;
 }

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 102, 43, 0.2);
  text-align: center;
}

.footer2 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(1, 102, 43, 0.2);
  text-align: center;
}

.btn-fg {
  background: #fcfcfc;
  background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgba(255, 255, 255, 0.425)) !important;
  color: black !important;
  text-align: center;
  font-size: 30px;
 }
 

